@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-template-rows: minmax(100px, auto) 1fr minmax(100px, auto);
  height: 100dvh;
}
.container {
  width: 1200px;
  margin: auto;
}
.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  grid-template-rows: 1fr;
  height: 100%;
  gap: 40px;
  justify-items: start;
  align-items: center;
  width: 1250px;
  margin: auto;
}
.main__images {
  width: 480px;
  height: 480px;
  padding: 5px;
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main__img {
  position: relative;
  top: 0;
  right: 20px;
}
.main__title {
  font-family: Inter;
  font-style: Extra Bold;
  font-size: 18px;
  font-weight: 800;
  line-height: 55px;
  letter-spacing: -0.72px;
  /* div */
  width: 450px;
  height: 496px;
  justify-self: center;
  align-self: center;
  /* height: 100%; */
}
.main__subtitle {
  margin-bottom: 37px;
  font-family: Inter;
  font-style: Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  width: 450px;
  margin-top: 25px;
}
.main__button-title {
  
  color: black;
}
.main__button-title:hover{
    background-color: rgba(255, 194, 71, 1);
}
.main__buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main__button-title {
  border: 1px solid black;
  border-radius: 42px;
  width: 250px;
  height: 50px;
  font-family: Inter;
  font-style: Extra Bold;
  font-size: 19px;
  font-weight: 800;
  line-height: 22.5px;
  letter-spacing: 0%;
  cursor: pointer;
}
.main__button-title:nth-child(2) {
  font-family: Inter;
  font-style: Extra Bold;
  font-size: 19px;
  font-weight: 800;
  line-height: 22.5px;
  letter-spacing: 0%;
}

.grid {
    display: grid;
    width: 1200px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    margin: auto;

}
.grid-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    height: 100%;
    gap: 20px;
    /* border: solid 1px black; */
    place-items: center;
}
.grid-item > div {
    /* align-self: start; */
    padding: 40px;
}
.grid-item > div p,
.grid-item > div h1 {
    margin-bottom: 40px;
} 
.grid-item-2 {
    grid-template-rows: 1fr;
    align-self: center;
    height: auto;
}
.grid-item__item {
    /* height: 380px; */
    /* align-self: center; */
}
.grid-item-3 {
    /* height: 305px; */
}
.hidden {
  display: none;
}